{% if conditions %}

    <h2>Current conditions in {{ location }}</h2>
    <ul>
        {% for key, value in conditions.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

{% elif error_msg %}
    <h2>{{ error_msg }}</h2>
{% endif %}

<form action="/current_conditions/" method="post">{% csrf_token %}
    <h3>Enter location information to get current weather conditions:</h3>

    {% for field in zip_form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }} 
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
    {% endfor %}

    <input type="submit" value="Submit" />
</form>

<img src="http://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg" height="42" 
        alt="Weather data from wunderground.com">
